@model IEnumerable<CompSpyWeb.Models.Classroom>
@{
    ViewBag.Title = "Rozpocznij monitoring";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    @foreach (var m in Model)
    {
        <div class="col-md-4">
            <h3>@m.Name</h3>
            <p>
                Lokalizacja: @m.Location<br />
                Liczba komputerów: soon<br />
                Aktywne komputery: soon
            </p>
            @Html.ActionLink("Monitoruj", "ShowRoom", "Suirvelance", new { id = @m.ID }, new { @class = "btn btn-primary"})
        </div>
    }
</div>

