@model IEnumerable<CompSpyWeb.Models.Computer>
@{
    ViewBag.Title = "Podgląd sali " + ViewBag.ClassroomName;
}

<h2>@ViewBag.Title</h2>

<div class="row">
    @foreach(var computer in Model)
    { 
        <div class="col-md-4" id="@computer.StationDiscriminant">
            <h3>@computer.StationDiscriminant</h3>
            
            @if (computer.ConnectionID != null)
            {
                <a href="@Url.Action("ShowComputer", "Suirvelance", new { id = computer.ComputerID })"><img src="~/Pics/no_connection.png" /></a><br />
                <p class="label label-success">Połączone</p>
            }
            else
            {
                <img src="~/Pics/no_connection.png" /><br />
                <p class="label label-warning">Brak połączenia</p>
            }
        </div>
    }
</div>
<div class="row" style="margin-top: 15px;">
    <div class="col-md-9">
        <input type="text" id="msg" style="max-width: none; display: inline; width: 80%" class="form-control" placeholder="Wiadomość do sali" />
        <input type="button" value="Wyślij" class="btn btn-success" id="btn-send-msg" />
        <span id="current-in-length">0</span>/<span id="max-in-length">100</span>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/signalr/hubs"></script>

    <script>
        $(function () {
            var hub = $.connection.suirvelanceHub;

            hub.client.computerDataReceived = function (data) {
                xdata = JSON.parse(data);
                src = xdata['image'];
                $("#PC1 img").attr("src",'/Image/DisplayPhoto/' + src);
            }

            hub.client.computerConnected = function (stationDiscr) {
                console.log("Polaczyl sie " + stationDiscr);
            }

            hub.client.computerDisconnected = function (stationDiscr) {
                console.log("Rozlaczyl sie " + stationDiscr);
            }

            $.connection.hub.start().done(function () {
                hub.server.connect("@ViewBag.ClassroomName");
            });

            window.onbeforeunload = function (e) {
                hub.server.disconnect("@ViewBag.ClassroomName");
            }

            $('#btn-send-msg').click(function (e) {
                hub.server.sendMessageToClassroom("@ViewBag.ClassroomName", $('#msg').val());
                $('#msg').val('');
            })
        });
    </script>
}
