@model IEnumerable<CompSpyWeb.Models.Classroom>

@{
    ViewBag.Title = "Lista pomieszczeń";
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <tr>
        <th>Nazwa</th>
        <th>Lokalizacja</th>
        <th>Data utworzenia</th>
        <th>Utworzył</th>
        <th>Data ostatniej edycji</th>
        <th>Edytował</th>
        <th>Operacje</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Creator.FirstName) @Html.DisplayFor(modelItem => item.Creator.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastEdit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Editor.FirstName) @Html.DisplayFor(modelItem => item.Creator.LastName)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id=item.ID }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Usuń", "Delete", new { id=item.ID }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>

<p>
    @Html.ActionLink("Dodaj pomieszczenie", "Create", null, new { @class = "btn btn-success" })
</p>
